#container-new-contact {
    display: flex;
    text-align: center;
    background-color: #e9ecef;
    height: 685px;
}

#new-contact-form {
    width: 100%;
    position: relative;
    z-index: 1;
}

#new-contact-form a {
    text-decoration: none;
}

#pencil_icon img {
 margin-top: 40px;
}

/* only used for background overlay not needed for centering */
form:before {
    display: flex;
    flex-direction: column;
    align-items: center;
    content: '';
    height: 175%;
    left: 0;
    position: absolute;
    top: -167;
    width: 100%;
    z-index: -1;
}

#new-contact-title {
    border-radius: 0px;
    height: 43px;
}

#contact_description {
    border-radius: 0px;
    height: 200px;
}

#contact_submit {
    width: 273px;
    border-radius: 0px;
    background: linear-gradient(to right, #43bbf2, #3144a3);
    font-family: 'Raleway', sans-serif;
}

label {
    display: none;
}

#user_icon img{
    height: 100px;
}

.new-contact-title h2 {
   margin: 30px;
   font-family: 'Raleway', sans-serif;
}
